
.se-react-tab {
  .tab-navs {
    margin: 0;
    padding: 0;

    .nav-item{
      list-style: none;
      display: inline-block;
      cursor: pointer;

      &:not(:last-child){
        margin-right: 5px;
      }

      &.active {
        color: grey;
      }

    }
  }

  .tab-content {
    margin-top: 10px;
    //display: block;
    //visibility: visible;
    opacity: 1;

    .hide {
      //display: none;
      //visibility: hidden;
      opacity: 0;
      transition: opacity 2s ease-out;
    }

  }

}
