
.se-react-data-list {

  %scrollbar-x {
    /* width */
    &::-webkit-scrollbar {
      height: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .table-wrapper{
    @extend %scrollbar-x;
    width: 100%;
    overflow-x: auto;
  }

  $space-between:10px;

  .total-rows {
    text-align: right;
    margin-top: $space-between;
  }

  .pagination {
    margin-top: $space-between;

    >*{
      vertical-align: middle;
    }
    >span {
      margin-left: $space-between;
    }

    .se-react-dropdown {
      margin-left: $space-between;
    }

    .prev-page, .next-page {
      width: 9px;
      cursor: pointer;

      &.disabled {
        color: grey;
        cursor: default;
      }
    }

    .next-page{
      margin-left: $space-between
    }
  }
}
