
body {
  font-family: "Open Sans";
  padding: 50px 0 0 200px;

  .btn-load-data {
    padding: 5px 10px;
  }

  .se-react-data-list  {
    margin-top: 20px;
  }
}

.line {
  background-color: grey;
  height: 1px;
  margin: 10px 0;
}
